@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format("truetype");
}

body {
  font-family: 'Source Sans Pro';
  overflow: hidden;
}

main {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1, h2 {
   margin: 5px 0;
}
